.filter {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    align-items: center;
}

.filter button {
    width: 90px;
    border: transparent;
    background-color: #E9ECEF;
    border-radius: 5px;
    height: 35px;
}

.filter button:hover{
    background-color: #FD377E;
    color: white;
}