.total-conteiner {
    width: 340px;
    height: 90px;
    border: 1px solid #E9ECEF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.total-conteiner div {
    display: flex;
    justify-content: space-between;
    font-size: 27px;
}

@media (max-width:768px){
    .total-conteiner {
        margin: 0 auto;
        width: 90%;
    }
}